body {
  font-family: Arial;
  text-align: center;
  background: #f4f6f8;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 6px 10px;
  margin: 5px;
  background: #2196f3;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  background: white;
  margin: 10px auto;
  padding: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
